@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@700&display=swap');

.scoreboard-log {
    background-color: #2a6f97;
    color: #ade8f4;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-family:'Roboto', sans-serif;
    border-radius: 15px;
    margin-bottom: 20px;
}